/* task 1  */
.button {
    width: 300px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    background: pink;
}

button {
    background: pink;
    color: white;
    border: none;
    padding: 20px;
    font: inherit;
    font-size: 30px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #000, inset 5px 5px 5px #fff;
    box-shadow: 5px 5px 5px #000, inset 5px 5px 5px #fff;
}
  
button:active {
    box-shadow: inset 5px 5px 5px #000, inset -5px -5px 5px #fff;
    box-shadow: inset 2px 2px 10px #000;

}

/* task 2  */

.mountain {
    width: 300px;
    height: 300px;
    transition: 0.5s linear;
}

.card {
    width: 300px;
    height: 350px;
    margin: 100px 0 100px 70px;
    padding: 20px;
    transition: 0.5s linear;
}
figcaption {
    font-size: 20px;
    color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card:hover {
    box-shadow: 0 0 20px 10px aqua;
    border-radius: 30px;
                
}

.card:hover .mountain {
    border-radius: 20px 20px 0 0;
}
.mountain:hover {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

/* task 3  */

.text {
    font-size: 120px;
    color: red;
    letter-spacing: 20px;
    animation-name: on_off;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes on_off {
    from {
        color: white;
    }
    to {
        color: red;
    }
}

/* task 4  */

.spinner_container {
    width: 300px;
    height: 300px;
    margin: 100px auto;
    position: relative;
}

.spinner_text {
    font-size: 30px;
    color: green;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.spinner {
    width: 100%;
    height: 100%;
    color: rgb(71, 29, 29);
    font-size: 45px;
    border-bottom: 20px solid red;
    border-top: 20px solid blue;
    border-left: 20px solid green;
    border-right: 20px solid yellowgreen;
    border-radius: 50%;
    animation-name: around;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-timing-function: linear;
}

@keyframes around {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}

.spinner:hover {
    animation-play-state: paused;
}

/* task 5  */

header {
    width: 1000px;
    background-color: aqua;
}

.header_ul {
    display: flex;
    gap: 33px;
    justify-content: center;
    
}

.header_li {
    list-style-type: none;
    font-size: 50px;
    text-shadow: 2px 2px 5px black;
    transition: 1s;
    cursor: pointer;
}

.header_li:hover {
    text-shadow: 0 0 7px purple,
                0 0 10px purple,
                0 0 21px purple,
                0 0 42px purple,
                0 0 82px purple,
                0 0 92px purple,
                0 0 102px purple,
                0 0 151px purple;
}

/* task 6  */

.loading {
    width: 1000px;
    height: 50px;
    margin: auto;
    border: 5px solid black;
    border-radius: 30px;
    animation-name: loading;
    animation-duration: 5s;
    animation-timing-function: linear;
}



